* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --boxSize: 600px;
  --tileSize: 120px;
}
body {
  background: linear-gradient(145deg, orange 40%, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  display: flex;
  height: 100vh;
  width: auto;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.upper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: var(--boxSize);
  column-gap: 10px;
}
.start {
  font-size: 26px;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}
.win_message {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: green;
  font-weight: 800;
}

#tiles_container {
  border-radius: 10px;
  margin: 0 auto;
  width: var(--boxSize);
  height: var(--boxSize);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
  perspective: 1000px;
  background: linear-gradient(320deg, orange 40%, rgb(124, 33, 160));
}
.tile {
  border-radius: 10px;
  width: var(--tileSize);
  height: var(--tileSize);
  font-size: 40px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.tile:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.tile.flip {
  transform: rotateY(180deg);
}

.tile_front {
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.tile_back {
  background-color: rgb(0, 0, 0);
}
.tile_front,
.tile_back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 0.5rem;
  backface-visibility: hidden;
}
@media screen and (max-width: 780px) {
  :root {
    --boxSize: 450px;
    --tileSize: 90px;
  }
  #container {
    width: 90vw;
    row-gap: 20px;
  }

  #tiles_container {
    row-gap: 10px;
    column-gap: 10px;
    padding: 4%;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --boxSize: 300px;
    --tileSize: 60px;
  }
  #container {
    width: 90vw;
    row-gap: 15px;
  }

  #tiles_container {
    row-gap: 8px;
    column-gap: 8px;
    padding: 4%;
  }
}
